Django==2.0.2
dnspython==1.16.0
Flask==1.1.1
Flask-PyMongo==2.3.0
Click==7.0
itsdangerous==1.1.0
Jinja2==2.10
MarkupSafe==1.1.0
pymongo==3.7.2
virtualenv==16.2.0
virtualenv-clone==0.5.3
virtualenvwrapper==4.8.4
Werkzeug==0.15.4
wrapt==1.11.1
jsonpatch==1.16
jsonpointer==1.10
jsonschema==2.6.0