{% extends 'base.html' %} {% block content %}

<html>
<head>
</head>
<body>
  
  <!--page title-->
  <div class="container seperator">
    <h1 class='page-title'>About Us</h1>
      <div class="divider orange accent-4"></div>
    
    <!--page contents-->
    <p>At DFGF we do not travel down the beaten path, we like to to try the route less travelled so we have tried something a little different
    to the norm in the cooking world. As we do not see ourselves as almighty and all-knowing (that is for others to judge), we know that if
    we were to dedicate our entire lives to finding every dairy free or gluten free recipe there would still be thousands of amazing recipes out
    there that we never discovered.</p>

    <p>It is for this reason we see DFGF as the start of a community movement rather than just a website. At DFGF you can check out the recipes
    that we have uploaded (my personal favourite is the chicken noodle soup) but we have also created the ability for you to add your own 
    recipes (do not worry all recipe authors will be acknowledged), so if you think your aunty Jean's gluten free chocolate cake is a gift 
    the world needs then why not upload the recipe and the cooking instructions?</p>
    
    <p>We are also testing the a new feature that allows you too add or delete any recipe on the site, we are looking to see if we can build 
    trust within the community as it grows. The thinking behind this is that maybe someone has made an error while submitting their recipe and 
    you want to help them or maybe their has been a news release stating a food that we thought was DF or GF is infact not. It would'nt be
    the first time that a global corporations made a made a "mistake" and stated something it wasnt.</p>
  </div>
</body>
{% endblock %}